---
import {getData} from '../helpers/dataFetching.js';

const kontaktData = await getData("pages", "kontakt");


const { acf: { 
  "contact_info_heading": title, 
  "contact_info_text": body,
  email,
  "phone_number": phoneNumber 
}} = kontaktData;

---

    <div>
        <h2 class="caption">{title}</h2>
        <p>{body}</p>
        <div class="kontakt-details">
        <a class="h3 links-hover" href="tel:${phoneNumber}">{phoneNumber}</a>
        <a class="h3 links-hover" href="mailto:${email}">{email}</a>
        </div>
    </div>

<style lang="scss">

h2{
    margin-bottom: 1rem;
}

.kontakt-details{
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
    a, a:visited{
      color: var(--clr-black);  
    }
    
}  


</style>